.app-table td {
    color: #003578;
    font-weight: 600;
    vertical-align: middle;
    font-size: 2rem;
}

.app-table tr {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 14.4px 1.6px rgba(0, 0, 0, 0.08);
}

.app-table {
    border-collapse: separate;
    border-spacing: 0 50px;
}

.app-table td span {
    font-size: 13px;
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.view-more-btn {
    background-color: #f3ae00;
    color: #003578;
    font-size: 2rem;
    text-align: center;
}

.view-more-btn:hover {
    background-color: rgba(243, 174, 0, .65);
}

.view-more-btn:hover a {
    color: #000;
}

.view-more-btn a {
    color: #003578;
    font-size: 2rem;
    text-decoration: none;
}
.app-status .status {
    background-color: #f3ae00;
    color: #003578;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}

.app-status .status-review a {
    color: #000 !important;
}

.app-status .status-approved {
    background-color: #4b8b3b;
}

.app-status .status-reject {
    background-color: #9e2c22;
    color: #fff !important;
}

.app-status .status-approved a,
.app-status .status-reject a {
    color: #fff !important;
}
